img{
    width: 70%;
    margin: 15px;
    }

p{
    margin: 15px;
    }

h2{
    margin: 15px;
    }

.shop{
      background-color: #F78486;
      width: 100%;
      }

.cakes{
       background-color: #fce2c4;
       float:left;
       width: 50%;
    }

.wrap{
    background-color: #037386;
    display: flex;
    flex-wrap: wrap;
}
