img{
    width: 100%;
    }

.shop{
      background-color: #F78486;
      width: 100%;
      }

.cakes{
       background-color: #fce2c4
;
       float:left;
       width: 40%;
    }

.wrap{
    background-color: #037386;
    display: flex;
    flex-wrap: wrap;
}
